.porquetaobaratoheader {
    color: #02070d;
}

.porquetaobaratotext {
    color: #02070d!important;
    width: 50%;
}

.porquebarato-wrapper {
    margin-top: 50px;
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: conter;
}


.porquebarato-wrapper > div {
  width: 50%;
  box-sizing: border-box;
}

.porquebarato-icone img {
    max-width: 300px;
}

@media screen and (max-width: 767px) {
        
    .porquebarato-icone {
        display: none;
        }
        
    .porquebarato-wrapper > div {
        width: 100%;
        box-sizing: border-box;
    }
        
    .porquetaobaratotext {
        color: #02070d!important;
        width: 100%;
    }



}