.slider-loop {
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  padding: 0;
  background: rgb(40, 40, 40);
  position: absolute;
}

.slider-track {
  display: flex;
  width: max-content;
  
  animation: scrollLoop 25s linear infinite;
}

.slider-track div {
  min-width: 75px;
  text-align: center;
  padding: 0;
  white-space: nowrap;
  font-weight: 600;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 1rem;
}

@keyframes scrollLoop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}